body {
    padding: 0;
    margin: 0;
}

.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 56px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(0, 89, 255);
    color: white;
}

footer a {
    color: white;
    font-weight: bold;
    display: inline-block;
}

footer a:hover {
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.table-column-width {
    min-width: 130px;
}